@import url("c:\Users\user\Downloads\THSarabunNew.zip");
.link {
  color: white;
}
.link:hover {
  color: yellow;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(255, 244, 283);
}
.myNav {
  background-color: #f57f18;
}
.colum {
  float: left;
  width: 33.33%;
}
